
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ness</title>
    </head>
    <body>
        <h1>Ness</h1>
        <p>Depth: 230.0
            
 Health: Degraded
            
Pressure:105.0
            
Temperature: 14.8
            
FlowRate: 2700.0
            
Last Insp:2024-11-10T09:00:00Z
            
Next Maintainance: 2025-04-01T10:00:00Z,
            
Alerts: ['None'],
            
Connected Assets: ['Angus', 'Union']
            
Anomalies: 1
            
Workpacks: 2</p>
    </body>
    </html>
    